.classes {
  margin-top: 90px;
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  height: 82%;
  width: 100vw;
}

.HomeContainer {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
}

.HomeCover {
  width: 80%;
}

.ButtonContainer {
  display: flex;
  justify-content: space-between;
  width: 33%;
}
