.ClassCard {
    width: 350px;
    height: 350px;
    border-radius: 30px;
    background-color: #d4d4d4;
    /* border: 1px solid #c4c4c4; */
    padding: 12px;
    margin: 40px;
    border: 0.0625 remsolid #dadce0;
    
}
.ClassCard:hover{
    box-shadow: 0px 8px 15px rgba(0,0,0,0.2);

}

.TeacherCard{
    background-color: paleturquoise;
}

.StudentCard{
    background-color: palegreen;
}